@model App.Data.Entities.VeMayBay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VeMayBay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoHieuMayBay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoHieuMayBay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemKhoiHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemKhoiHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemDen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaVe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaVe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
