@model IEnumerable<App.Data.Entities.VeMayBay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoHieuMayBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemKhoiHanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiemDen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaVe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoHieuMayBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemKhoiHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemDen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
